<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= data.title %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css?v=3.2.0">

  <style>
    input.invalid{border-color: red;}
    .input-invalid,.form-invalid{ font-size: 12px; color:rgb(248, 146, 146);}
  </style>

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/admin/index2.html" class="h1"><b>Admin</b>LTE</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form id="fm_login">
        <div class="input-group-con mb-3">
          <div class="input-group ">
            <input id="tb_user" type="email" data-key="user"data-type="input-text" data-group="g1" class="form-control" placeholder="Email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-invalid ml-2"></div>
        </div>
       <div class="input-group-con mb-3">

         <div class="input-group">
           <input id="tb_pass" type="password" data-key="pass" data-type="input-text" data-group="g1" class="form-control" placeholder="Password"  required>
           <div class="input-group-append">
             <div class="input-group-text">
               <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-invalid ml-2"></div>
        </div>
       
        <div class="row">
          <div class="col-12 form-invalid ml-2 mb-2 text-center"></div>
          <div class="col-8">
            <div class="icheck-primary">
              <input  id="cb_remme" data-key="remme" data-type="checkbox" data-group="g1" type="checkbox" >
              <label for="cb_remme">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <input type="button" id="bt_login" value="Sign In" class="btn btn-primary btn-block" />
            <div id="bt_login_disabled" class="btn btn-primary btn-block disabled d-none">Wait...</div>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- <div class="social-auth-links text-center mt-2 mb-3" style="display: none;">
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div> -->
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="/admin/auth/forgotpassword">I forgot my password</a>
      </p>
      <p class="mb-0" style="display: none;">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/adminlte.min.js?v=3.2.0"></script>
<script>

  $('#bt_login').on('click',function()
  {

    toggleButton('#bt_login',false);

    bodyObj = getFormFields('g1');
    
    $.ajax({
        url: "/admin/auth/api/login",
        type:"POST",
        contentType: 'application/json',
        processData: false,
        data: JSON.stringify(  bodyObj), 
        success: function (result) 
        {
          cleanValidation();
          if(result.success)
          {
            
          }
          else
          {
            if(result.status == 'validation_error')
            {
              showValidation(result);
            }
            else
            {
              $('.form-invalid').html('Ooops! Something Went Wrong!');
            }


          }
          toggleButton('#bt_login',true);
        },
        error: function (xhr, status, error) 
        {
          $('.form-invalid').html('Ooops! Something Went Wrong with Server!');
          toggleButton('#bt_login',true);
        }
      });

     
    
  });



  function toggleButton(id,show = false)
  {
    if(show)
    {
      $(id+'_disabled').addClass('d-none');
      $(id).removeClass('d-none');
    }
    else
    {
      $(id).addClass('d-none');
      $(id+'_disabled').removeClass('d-none');
    }
  }

  function getFormFields(group)
  {

    fields = {}; 
    $('*[data-group="'+group+'"]').each( function(field){

    if($(this).attr('data-type') == 'input-text' )
    {
      fields[$(this).attr('data-key')] = $(this).val();
    }
    else if($(this).attr('data-type') == 'checkbox' )
    {
      fields[$(this).attr('data-key')] =  $(this).prop('checked');
    }

    });


    return fields;
  }

  function showValidation(result)
  {
     
        result.error.details.forEach(element => {
          $('*[data-key="'+ element.path[0]  +'"]').addClass('invalid');
          $('*[data-key="'+ element.path[0]  +'"]').closest('.input-group-con').children('.input-invalid').html(element.message);

        });
  }

  function cleanValidation()
  {
    $('.form-invalid').html('');
    $('.invalid').removeClass('invalid');
    $('.input-invalid').html('');
  }



</script>
</body>
</html>
